@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --main-gradient: linear-gradient(to right, #e2aef4, #705eb4);
}

body {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

*[role="button"] {
  user-select: none;
}

/* Start Of Header Section Stylling */

header {
  height: 4rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

header .logo {
  background-image: var(--main-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .items-count {
  width: 1.5rem;
  height: 1.5rem;
  background-image: var(--main-gradient);
}
/* End Of Header Section Stylling */

/* Start Of Shopping Section Stylling */

#shopping .container {
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

#shopping .item {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

#shopping .item img {
  width: 100%;
  height: 20rem;
}

#shopping .add-btn {
  width: 2rem;
  height: 2rem;
  background-image: var(--main-gradient);
}

#shopping .det {
  font-size: 0.75rem;
}

/* End Of Shopping Section Stylling */

/* Start Of Shopping Cart Section Stylling */

.cart {
  width: 20rem;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

.cart.open {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

.cart-checkout {
  background-color: #ff5a56;
}

.cart .item-info span:nth-of-type(2) {
  font-size: 0.75rem;
}
.cart .cart-item img {
  width: 3rem;
}

.cart .item-control span:last-of-type {
  background-color: #ff5a56;
}
/* End Of Shopping Cart Section Stylling */
